<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head>
    <meta charset="UTF-8"/>
    <title>2019年运势详批</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>
    <link rel="shortcut icon" href="/sm/ffsm/statics/ffsm/favicon.ico"/>
    <link href="/statics/ffsm/bazimf/10010/wap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/statics/ffsm/bazimf/10010/index.css" rel="stylesheet" type="text/css"/>
    <link href="/statics/ffsm/bazimf/10010/style.min.css" rel="stylesheet" type="text/css"/>
    <script src="//apps.bdimg.com/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/statics/ffsm/public/js/require/require.min.js?tm=123" data-main="/statics/ffsm/public/js/common.min.js?tm=123?v=0817"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.4.0.js"></script>
</head>
<body>
<div class="container pay">
    <div class="wrap">
        <div class="pay-banner">
            <img src="/statics/ffsm/bazimf/10010/images/pay-banner.png" alt=""/>
        </div>
        <div class="gk">
            <p>一生中有三次机遇，抓住一次即可<span class="red3">步入中产</span>，两次即可<span class="red3">财务自由</span>。我们将助您抓住机遇一飞冲天。</p>
            <p> 目前已有<span class="red3">23767263</span>位缘主解锁了2019年运程，有<span class="red3">95%</span>及以上的缘主用大师建议轻松改变了尴尬的遭遇。</p>
        </div>
        <div class="price">
            <div class="pay-box">
                <p class="tit1">测算项目：2019猪年运势</p>
                <div class="clearfix inner">
                    <div class="fl">
                        <span class="yh" id="amount" value="0.02">限时优惠￥16.6元</span>
                        <s class="gray">原价：128元</s></div>
                    <div class="fr">
                        <p>距优惠结束</p>
                        <p class="red">
                            <span class="h" id="hour_show"></span>
                            <span class="f" id="minute_show"></span>
                            <span class="m" id="second_show"></span>
                        </p>
                    </div>
                </div>
                <div class="j-pay-box">
                    <div class="clearfix inner">
                        <ul class="pay-type">
                            <a class="weixin" target="_self" href="javascript:void(0);" onclick="payWeixin()"><li class="on" id="wx_zf">
                                <span class="pay-icon icon-wechat"></span>
                                <span>微信支付</span>
                                <span class="yh fr">立即支付</span>
                            </li></a>
                            <br/>

                            <!--/pay/go?oid=201904041702471554368567465839&amp;type=2-->
                            <!--<a class="alipay" target="_self" href="javascript:void(0);" onclick=""><li id="zfb_zf">-->
                                <!--<span class="pay-icon icon-zfb"></span>-->
                                <!--<span>支付宝支付</span>-->
                                <!--<span class="yh fr">立即支付</span>-->
                            <!--</li>-->
                            <!--</a>-->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="submit-btn btn-lock J_payPopupShow">
            <img src="/statics/ffsm/bazimf/10010/images/sbumit-btn-02.png" alt=""/>
        </div>
        <div class="look-info">
            <div class="name-box">
                <div class="item">
                    <p>姓名：<label th:text="${username}" id="username"></label>
                        <span style="margin-left:20px">性别：<label th:text="${gender}" id="gender"></label></span></p>
                    <p>公历生日：<label th:text="${birthday}" id="birthday"></label></p>
                    <p>农历生日：<label th:text="${lDate}" id="lDate"></label></p>
                </div>
            </div>
            <img src="/statics/ffsm/bazimf/10010/images/info-img.png?tm=555" alt=""/>
        </div>
        <div class="link-box">
            <div class="title">
                <img src="/statics/ffsm/bazimf/10010/images/link-title.jpg" alt=""/>
            </div>
            <ul class="clearfix">
                <li>
                    <a href="http://cs.yianwangluo.com/xingmingxp?cch_id=139&amp;prod_id=10012">
                        <img src="/statics/ffsm/bazimf/10010/images/link-icon05.png" alt=""/>
                    </a>
                </li>
                <li>
                    <a href="http://cs.yianwangluo.com/bazihh?cch_id=139&amp;prod_id=10011">
                        <img src="/statics/ffsm/bazimf/10010/images/link-icon02.png" alt=""/>
                    </a>
                </li>
                <li>
                    <a href="http://cs.yianwangluo.com/gerenyy?cch_id=139&amp;prod_id=10009">
                        <img src="/statics/ffsm/bazimf/10010/images/link-icon03.png" alt=""/>
                    </a>
                </li>
                <li>
                    <a href="http://cs.yianwangluo.com/xingmingpd?cch_id=139&amp;prod_id=10013">
                        <img src="/statics/ffsm/bazimf/10010/images/link-icon04.png" alt=""/>
                    </a>
                </li>
            </ul>
            <div style="text-align:center;padding: 10px 0;margin: 10px 0;">
                <a href="http://cs.yianwangluo.com/together_page?cch_id=139" style="color: #fff;border: 1px solid #fff;padding: 5px 10px;border-radius: 5px;font-size: 12px;">更多测算精品</a>
            </div>
        </div>
        <div class="footer-box">
            <p>如有疑问，请联系客服。客服QQ：</p>
            <p>客服在线时间：10:00-18:00(周一至周五) </p>
            <img src="/statics/ffsm/bazimf/10010/images/footer-img.png" alt=""/>
        </div>
    </div>
    <div class="pop-footer" style="z-index: 2;"  id="publicPayBottom">
        <div class="maodian zhifu_">支付查看结果</div>
    </div>
    <div class="public_pay_popup" id="publicPayPopup">
        <div class="public_pp_box j-pay-box">
            <div class="public_pp_close" id="publicPPClose">
                X
            </div>
            <div class="public_pp_tit">
                解锁查看所有测算结果
            </div>
            <div class="public_pp_price">
                <span>统一鉴定价：</span><strong> 0.01元</strong>
            </div>
            <div class="public_pay_box">
                <a class="weixin" target="_self" href="javascript:void(0);" onclick="payWeixin();">微信安全支付</a>
                <!--<a class="alipay" target="_self" href="/pay/go?oid=201904041702471554368567465839&amp;type=2">支付宝安全支付</a>-->
            </div>
        </div>
    </div>
    <!-- 返回弹窗 -->
    <div class="u-mark j-mark">
        <div class="pop-com pop-ad  j-pop-ad">
            <i class="ic i-close"></i>
            <p class="tips">
                <span>缘主</span>
                <br/>
                <span>知命方能改运!</span>
            </p>
            <p class="text">本次测算准确率高达98.6%！</p>
            <p class="text" style="margin-bottom:-10px">你确定放弃这次改运的机会吗？</p>
            <a href="#" class="btn">立即查看分析结果</a>
            <!-- <a href="javascript:;" class="btn-close btn">关闭</a> -->
        </div>
    </div>
</div>

<script>
    //底部悬浮
    (function($){
        $.fn.publicPopup=function(opt){
            var pp=$('#publicPayPopup');
            var ppClose=$('#publicPPClose');
            var topShow=$(".J_payBottomShow").length>0?$(".J_payBottomShow").offset().top:200;
            var ppShow=$(".J_payPopupShow").length>0?$(".J_payPopupShow"):'';
            return this.each(function(){
                var $this=$(this);
                $(window).scroll(function(){
                    var wt=$(window).scrollTop();
                    wt>topShow?$this.fadeIn():$this.fadeOut();
                });
                $this.on('click',function(){
                    pp.show();
                });
                ppClose.on('click',function(){
                    pp.hide();
                })
                ppShow?ppShow.on('click',function(){pp.show()}):'';
            });
        };
    })(jQuery);
    $("#publicPayBottom").publicPopup();

    //微信支付入口
    function payWeixin(){
        if(isWeixin()){
            console.info('weixin');
            payWeixinJSAPI();
        } else {
            console.info('not weixin');
            payWeixinH5();
        }
    }

    //微信H5支付
    function payWeixinH5(){
        var url = "/pay/go";
        $.get(url, function(result){
            if(result.msg == 'success'){
                location.href = result.mweb_url;
            } else {
                alert("支付失败，请重新支付");
            }
        });
    }

    //微信JSAPI支付
    function payWeixinJSAPI(){
        var url = '/pay_jsapi/payWX';
        var param = {
            amount:$('#amount').attr('value'),
            username:$('#username').text(),
            gender:$('#gender').text(),
            birthday:$('#birthday').text()
        };
        $.post(url,
               param,
               function(result){
                   location.href = result;
               }
        );
    }

    function isWeixin() {
        const ua = navigator.userAgent.toLowerCase();
        if (ua.match(/MicroMessenger/i) == 'micromessenger') {
            return true;
        }
        return false;
    }
</script>
<script type="text/javascript">
    var intDiff = parseInt(5734);//倒计时总秒数量
    function isWeixin() {
        const ua = navigator.userAgent.toLowerCase();
        if (ua.match(/MicroMessenger/i) == 'micromessenger') {
            return true;
        }
        return false;
    }
    pushHistory();
    window.addEventListener("popstate", function (e) {
        getAdPop()
    }, false);
    function getAdPop () {
        var $jMark = $('.j-mark');
        var $jPopAd = $('.j-pop-ad');
        var $jPopAdBtn = $('.j-pop-ad .btn');
        var $jPopAdClose = $('.j-pop-ad .i-close');
        var $jPopAdCloseBtn = $('.j-pop-ad .btn-close');
        $jMark.show();
        $jPopAd .show();
        $jPopAdClose.click(function(){
            $jMark.hide();
            $jPopAd .hide();
        })
        $jPopAdCloseBtn.click(function(){
            $jMark.hide();
            $jPopAd .hide();
        })
    }
    function pushHistory() {
        var state = {
            title: "title",
            url: "#"
        };
        window.history.pushState(state, "title", "#");
    }
    function timer(intDiff){
        window.setInterval(function(){
            var day=0,
                hour=0,
                minute=0,
                second=0;//時間默認值
            if(intDiff > 0){
                day = Math.floor(intDiff / (60 * 60 * 24));
                hour = Math.floor(intDiff / (60 * 60)) - (day * 24);
                minute = Math.floor(intDiff / 60) - (day * 24 * 60) - (hour * 60);
                second = Math.floor(intDiff) - (day * 24 * 60 * 60) - (hour * 60 * 60) - (minute * 60);
            }
            if (hour &lt;= 9) hour = '0' + hour;
            if (minute &lt;= 9) minute = '0' + minute;
            if (second &lt;= 9) second = '0' + second;
            $('#day_show').html(day + "天");
            $('#hour_show').html('<s id="h"></s>' + hour + ":");
            $('#minute_show').html('<s></s>' + minute + ":");
            $('#second_show').html('<s></s>' + second);
            intDiff--;
        }, 1000);
    }

    $(function(){
        alert("260");
        timer(intDiff);
        if (isWeixin()) {
            $('.j-pay-box .alipay').hide();
        } else {
        }
    });
    //支付后检测跳转
    var inquiry_lock = 0;
    $(document).ready(function () {
        setInterval(function () {
            inquiry();
        }, 1000);
    });
    function inquiry() {
        if (inquiry_lock) {
            return;
        }
        var url = '/pay/scanquery?oid=201904041702471554368567465839&amp;t=' + Date.parse(new Date());
        $.ajax({
            type: 'GET',
            url: url,
            success: function (data) {
                if (data.status) {
                    inquiry = 1;
                    $('div.weixin .green').html('支付成功');
                    window.location = data.url;
                }
            },
            error: function (err) {},
            dataType: 'json'
        });
    }
</script>
</body>
</html>